#heading{
    color: rgb(106, 106, 174);
    border: 3px solid black;
    padding: 1px;
    margin: 2px;
    border-radius: 16px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif

}

h3{
    color: rgb(106, 106, 174);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif

}


.box-contacts{
    border: 3px solid rgb(106, 106, 174);
    width: 300px;
    padding: 1px;
    margin: auto;
    border-radius: 16px;
    text-align: center;
}

#content{
    text-align: center;
    font-size: medium;
}

#p{
    line-height: 25px;
}

#coding{
    text-align: left;
}

#line{
    border: 1px solid rgb(63, 63, 104);
    width: 400px;
    margin: auto;
}

#p40{
    font-size: small;
}