    h1{
                color: rgb(106, 106, 174);
            }
            body{
               text-align: center;
            }
            h3{
                color: rgb(106, 106, 174);
            }